{% extends 'base.html' %}
{% block links %}
{% endblock %}
{% block title %}
    Регистрация
{% endblock %}
{% block content %}
    <form method="post" action="" class="gap-2">
        {{ csrf_input }}
        {% for field in form %}
            <div class="m-2">
                <label class="form-label">{{ field.label }}</label>
                {{ field }}
                <div class="text-danger ms-2">
                    {{ field.errors|striptags }}
                </div>
            </div>
        {% endfor %}
        {% block errors %}{% endblock %}
        <button type="submit" class="btn btn-warning m-2">
            {% block btnName %}Регистрация{% endblock %}
        </button>
        <button type="button" class="btn btn-secondary m-2"
                {% block secondBtnUrl %}
                    onclick="location.href='{{ url('userLogin') }}'"
                {% endblock %}>
            {% block secondBtnText %}
                Есть аккаунт
            {% endblock %}
        </button>
    </form>
{% endblock %}
{% block scripts %}
{% endblock %}